<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
</head>
<body>
    <a href="/html/tic-tac-toe.html" target="_blank">tic-tac-toe</a> <br> <br>
    <a href="/html/allEvents.html" target="_blank">Js events</a> <br> <br>
    <a href="/html/exercise-2.html" target="_blank">change color</a> <br> <br>
    <a href="/html/dynamicTable1.html" target="_blank">dynamic table</a>

    
</body>
</html>