<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>GENTLEMAN WELCOME 2 FIGHT CLUB! <%=data[0].name%></h2>
    <a href="/logout">Logout</a> <br> <BR>
    <a href="/edit?email=<%=data[0].email%>">Edit</a> <br> <BR>
    <a href="/alltasks">All Tasks</a>
</body>
</html>