<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>

<body>
    <form action="/register" method="post" onsubmit="return passcheck()">
        Name :<input type="text" name="name"> <br>
        Email : <input type="email" name="email"> <br>
        Password : <input type="password" name="password" id="pass"> <br>
        Confirm Password : <input type="password" name="confirmpassword" id="cpass"> <br>
        <input type="submit" value="Submit">
    </form>
    already have an account?<a href="/login">Login here</a>
</body>
<script>
    function passcheck() {
        let pass = document.getElementById('pass').value;
        let cpass = document.getElementById('cpass').value;
        console.log(pass,cpass)

        if(pass != cpass){
            alert('passwords are not matching');
            return false
        }
    }
</script>

</html>